# Created by .ignore support plugin (hsz.mobi)
node_modules
.circleci
.github
.next
docs
examples
flow
flow-typed
packages
pages
scripts
src
static
test
.babelrc
.codecov.yml
.editorconfig
.eslintcache
.eslintignore
.eslintrc.js
.eslintrc.spellcheck.js
.firebaserc
.flowconfig
.gitattributes
.gitignore
.nvmrc
.size-limit
BACKERS.md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
firebase.json
GOVERNANCE.md
next.config.js
prettier.config.js
ROADMAP.md
SUPPORT.md
tsconfig.json
